*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
.container{
    width: 85%;
    margin: 0 auto;
}
.nav{
    background-color: rgb(56, 55, 55);
    position: fixed;
    width: 100%;
    z-index: 100;
}
h1>span{
    color:tomato;
}
.nav-bar{
    display: flex;
    justify-content: space-between;
    padding:25px 0px;
    color: white;
 
}
.nav-bar h1{
    font-size: 35px;
}
.nav-sec ul li{
    display: inline-block;
    margin: 0 15px;
    font-weight: 600;
    position: relative;
}
.nav-sec ul li:after{
    content: "";
    display: block;
    width: 0%;
    height: 4px;
    position:absolute;
    background-color:tomato;
    transition: all 0.5s ease;
    margin-top: 7px;
    
}
.nav-sec ul li:hover:after{
    width: 100%;
    transition: all 0.5s ease;
    transform: scale(1.1);
}
/* banner starts */
.banner-sec {
    position: relative;
}
.banner-sec .image img{
    width: 100%;
    height:auto;
    height: 700px;
}
.screen{
    position: absolute;
    background-color: rgba(0, 0, 0, 0.559);
    top: 0;
    right: 0;
    left: 0;
    width: 100%;
    height: 100%;
    color: white;
}
.screen .content1{
    text-align: center;
    padding-top: 260px;

}
.screen>div h1,h2{
    font-size: 50px;
}
.screen span{
    color: yellow;
}
.icon{
    display: flex;
    justify-content: center;
    padding-top: 40px;
}
.icon div{
    width: 50px;
    height: 50px;
    margin: 0px 15px;
    background-color: rgb(71, 72, 72);
    border-radius: 100%;
    line-height: 50px;
    text-align: center;
    transition: all 0.5s;
}
.icon div>a{
    text-decoration: none;
}
.icon div:hover{
    transform: translateY(-20px);
    transition: all 0.5s;
}
.icon div i{
    color: rgb(224, 224, 230);
    font-size: 23px;
}
.icon div:hover{
    background-color: rgba(244, 239, 239, 0.955);
}
.icon div:hover i{
    color: rgba(7, 68, 128, 0.765);
    transition: all 0.5s;
}
.icon .facebook:hover i{
    color:#2B1F8D ;
} 
.icon .insta:hover i{
    color: brown;
}
.icon .twitter:hover i{
    color: #5FB8FE;
}
/* banner ends */

/* about sarts */
.about-head{
    margin-top: 50px;
    text-align: center;
}
.about-head> h1{
    padding: 70px 0px;
    font-size: 30px;
    position: relative;
    display: inline;
    color: #555555;
}
.about-head h1:before{
    content: "";
    width: 0%;
    height: 5px;
    top:60%;
    position: absolute;
    background-color: tomato;
    transition: all 0.2s;
    transform-origin: left;
    margin-top: 5px;
}
.about-head h1:hover:before{
    width: 90%;
    transition: all 0.5s;
    transform: scale(1.1);
}
.overall-about{
    width: 100%;
    display: flex;
    padding-top: 30px;
    height: 600px;
    padding-bottom: 50px;
    position: relative;
}
.box1{
    width: 50%;
   height: 100%;
    margin-right: 20px;
    overflow: hidden;
    border-radius: 10px;
   
}
.box1 img{
    width: 100%;
    transition: all 0.5s;
}
.box2{
    width: 50%;
   
}
.box1:hover img{
    transform: scale(1.1);
    transition: all 0.5s;
}
.box-icon a{
    text-decoration: none;
}
.box-icon{
    position: absolute;
    display: flex;
    top: 450px;
    left: 100px;
    right: 0;
    transform: translateY(0px);
    transition: all 0.5s;
    opacity: 0;
   
}
.box-icon div{
    width: 50px;
    height: 50px;
    background-color:#fafafa ;
    margin: 0px 10px;
    border-radius: 100%;
    text-align: center;
    line-height: 50px;
   
}
.box1:hover .box-icon{
    transform: translateY(-10px);
    transition: all 0.5s;
    opacity: 100%;
}
.box-icon div i{
    color:#555555;
    font-size: 23px;
}
.box-icon div:hover{
    background-color: #ececec;
}
.box-icon .facebook:hover i{
    color:#2B1F8D ;
} 
.box-icon .insta:hover i{
    color: rgb(232, 31, 31);
}
.box-icon .twitter:hover i{
    color: #85C1E9
}
.box-icon .linkedin:hover i{
    color: #1376d2;
}
.box2{
    line-height: 50px;
    text-align: justify;
    margin-left: 100px;
    padding-top: 40px;
}
.box2 p{
    font-size: 17px;
}
.box2 p i{
    color: #1376d2;
    margin-right: 10px;
}
/* about ends */

/* logo starts */
.overall-logo{
    display: flex;
    width: 100%;
    height: 70%;
}
.logos{
    background-color:#5FB8FE;
    margin-bottom: 50px;
}
.overall-logo >div{
    width: 25%;
    padding: 50px 0px;
    transition: 0.5s;
 
}
.overall-logo >div:hover{
    transform: translateY(-20px);
    
    transition: 0.5s;
}
.overall-logo >div img{
    width: 60%;
    border-radius: 100%;
    box-shadow:0 0 30px white;
}
/* logo ends */

/* skills sec starts */
.skils{
padding-top: 50px;
}
.overall-skill{
    width: 100%;
    display: flex;
}
.part-1{
    width: 60%;
    line-height: 30px;
    margin-right: 20px;
}
.part-1 > div{
    padding-top: 15px;
}
.part-1 > div label{
    font-size: 20px;
    color: #353535;
}
.part-1 progress{
    border-radius: 0;
    width: 100%;
    background: #ececec; 
}
.part-1 progress::-webkit-progress-value {
    background:#1376d2;
  }
.part-2{
    width: 40%;
    
}
.part-2 .img{
    width: 100%;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: #ececec;
    
}
.part-2 .detail{
    width:50%;
    background-color: #555555;
    text-align: center;
}
.part-2 .img img{
    width: 50%;

    border-radius: 100%;
  
} 
.radio{
    padding-top: 20px;
}
.radio > input{
    margin-left: 5px;
}
#btn1,#btn2{
    display: none;
    width: 100px;
    height: 40px;
    background-color:#58D68D ;
    color: white;
    font-size: 17px;
    border: none;
    border-radius: 5px;

}
/* skill sec ends */